---
import ThemeToggle from "@components/ThemeToggle.astro";
import Icon from "@components/Icon.astro";
import Hero from "@components/Hero.astro";

const linkStyling =
  "text-primary-dark dark:text-primary-lighter hover:text-primary-light dark:hover:text-primary-lightest duration-200";

const { headerStyles, buttonDivStyles, backButton, heroTitle, heroTagline } =
  Astro.props;
---

<header class={`container mx-auto flex flex-col px-4 ${headerStyles}`}>
  <div
    class={`flex justify-between mb-4 ${buttonDivStyles}`}
    transition:animate="none"
  >
    <div class="flex-1">
      {
        backButton && (
          <a
            href="/"
            class="back-link text-gray-100 underline decoration-transparent underline-offset-4 duration-200 ease-in-out hover:decoration-current dark:text-primary-lightest"
          >
            <Icon icon="arrow-left" />
            Back
          </a>
        )
      }
    </div>
    <div class="xs:flex hidden flex-1 gap-2">
      <p>
        <a
          class={linkStyling}
          aria-label="github"
          href="https://github.com/devholdt"
          target="_blank"
        >
          <Icon icon="github-logo" width="24" height="24" />
        </a>
      </p>
      <p>
        <a
          class={linkStyling}
          aria-label="linkedin"
          href="https://www.linkedin.com/in/mathias-herholdt-b5a5bb204/"
          target="_blank"
        >
          <Icon icon="linkedin-logo" width="24" height="24" />
        </a>
      </p>
      <p>
        <a
          class={linkStyling}
          aria-label="twitter"
          href="https://twitter.com/harboldtt"
          target="_blank"
        >
          <Icon icon="twitter-logo" width="24" height="24" />
        </a>
      </p>
    </div>
    <div class="theme-toggle">
      <ThemeToggle />
    </div>
  </div>
  <Hero title={heroTitle} tagline={heroTagline} />
</header>
