---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";

interface Props {
  entry: CollectionEntry<"projects">;
}

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const headerStyles =
  "border-b border-primary-regular px-4 pb-10 dark:border-primary-lighter";

const linkStyles =
  "max-w-32 w-full h-10 rounded text-center flex items-center justify-center bg-primary-regular text-gray-500 hover:bg-primary-lighter transition";

const imageStyles =
  "rounded-md shadow-md object-cover object-top w-[400px] h-[400px] hover:scale-105 transition";
---

<BaseLayout
  title={`Mathias B. Herholdt | ${entry.data.title}`}
  description={entry.data.description}
>
  <Header
    headerStyles={headerStyles}
    buttonDivStyles="justify-between"
    backButton={true}
    heroTitle={entry.data.title}
    heroTagline={entry.data.tagline}
  />
  <div class="container mx-auto px-4">
    <div
      class="content flex flex-col flex-wrap text-gray-100 dark:text-gray-500"
    >
      <div class="my-4 flex flex-wrap gap-2">
        <div
          class="bg-primary-darkTransparent dark:bg-primary-lightTransparent flex flex-col gap-1 rounded p-2"
        >
          <div class="flex flex-wrap gap-2">
            {
              entry.data.tech?.map((tech) => (
                <div class="cursor-default rounded bg-primary-regular px-4 py-2 text-white transition hover:bg-primary-lighter">
                  {tech}
                </div>
              ))
            }
          </div>
        </div>
        <div
          class="bg-primary-darkTransparent dark:bg-primary-lightTransparent flex flex-col gap-1 rounded p-2"
        >
          <div class="flex flex-wrap gap-2">
            {
              entry.data.tags?.map((tag) => (
                <div class="cursor-default rounded bg-primary-regular px-4 py-2 text-white transition hover:bg-primary-lighter">
                  {tag}
                </div>
              ))
            }
          </div>
        </div>
      </div>
      <div class="mb-4 max-w-prose">
        <Content />
        <div class="mt-8 flex gap-4">
          <a href={entry.data.url_repo} target="_blank" class={linkStyles}
            >Repo</a
          >
          <a href={entry.data.url_live} target="_blank" class={linkStyles}
            >Live</a
          >
        </div>
      </div>

      <div class="flex w-full gap-4">
        <div>
          {
            entry.data.img_main && (
              <img
                class={imageStyles}
                src={entry.data.img_main}
                alt={entry.data.img_main_alt}
              />
            )
          }
        </div>
        <div>
          {
            entry.data.img_secondary && (
              <img
                class={imageStyles}
                src={entry.data.img_secondary}
                alt={entry.data.img_secondary_alt}
              />
            )
          }
        </div>
      </div>
    </div>
  </div>

  <div class="flex gap-6"></div>
</BaseLayout>
